<launch>
  <include file="$(find servingbot_bringup)/launch/servingbot_robot _navi.launch"/>
  <!-- Arguments -->
 <arg name="map_file" default="$(find servingbot_navigation)/maps/map.yaml"/>
  <arg name="open_rviz" default="true"/>

  <!-- Servingbot -->

  <include file="$(find servingbot_bringup)/launch/servingbot_remote.launch"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find servingbot_navigation)/launch/amcl.launch"/>

  <!-- move_base -->
  <include file="$(find servingbot_navigation)/launch/move_base.launch"/>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find servingbot_navigation)/rviz/servingbot_navigation.rviz"/>
  </group>
</launch>
