<?xml version="1.0"?>

<launch>
	<include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch" />

	<include file="$(find turtlebot_octomap)/launch/turtlebot_rtabmap.launch" />
	
	<node pkg="tf" type="static_transform_publisher" name="map_world_broadcaster" args="0 0 0 0 0 0 world /map 100" />

	<node name="octomap_server" pkg="octomap_server" type="octomap_server_node">
		<remap from="cloud_in" to="/rtabmap/cloud_map" />
		<param name="frame_id" type="string" value="map" />
		<param name="latch" value="false" />
		<param name="resolution" value="0.05" />
	</node>

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot_octomap)/config/octomap_test.rviz" />

	<include file="$(find turtlebot_teleop)/launch/logitech.launch" />
</launch>
